.blue-border{
    border: solid 6px #007FFF;
}

.black-border{
    border: solid 2px black;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 25px;
    text-align: center;
}

.spacer{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.spacer2{
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.spacer3{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.red-base{
    background-color: #D16D6A;
}

.orange-base{
    background-color: #ECB976;
}

.yellow-base{
    background-color: #F9DA78;
}

.green-base{
    background-color: #9DC384;
}

.teal-base{
    background-color: #80A4AE;
}

.white-bk{
    background-color: white;
}

.pitch-name{
    top: 50%;
}