#title{
    text-align: center;
}

.lgray-base{
    background-color: lightgray;
}

.dkgray-base{
    background-color: darkgray;
}

.black-text{
    color: black;
}

.clickable{
    cursor: pointer;
}

#center-img{
    vertical-align: top;
    text-align: center;
    margin-top: 0;
}

.red-base{
    background-color: rgb(220, 47, 47);
}

.white{
    color: white;
}

.navy{
    background-color: rgb(2, 2, 55);
}


.gray{
    background-color: gray;
}

.lgray{
    color: lightgray;
}

.bold{
    font-weight: bold;
}

.font1{
    font-family: 'Times New Roman', Times, serif;
}

.underline{
    text-decoration: underline; 
}

.italic{
    font-style: italic;
}

.large{
    font-size: large;
}

.inline{
    display: inline-block;
}

li {
    list-style-type: decimal;
  }

.hamburger-menu {
    position: relative;
}

.hamburger {
    background: grey;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 200%;
    z-index: 1;
}

.menu a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    background-color: #f1f1f1;
}
