<!-- home.html -->
{% extends "layout.html" %}

{% block title %}
    How to Identify Pitches
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script>
        let data = {{ data|tojson|safe }};
    </script>
{% endblock %}

{% block content %}
    <div id="container-fluid">
        <br>
        <h1> Welcome to the <span style="color: red;">GAS</span> Station: Learn How to Identify Pitches in Baseball!</h1>

        <div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10" id="home-img">
                    <img src="https://live.staticflickr.com/65535/49715260142_42d375c145_3k.jpg" alt="MLB stadium" width="1200" class="stadium-img img-fluid"> 
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5" id="pitch-diagram">
                <br>
                <h4>Learn Each Pitch:</h4>
                <span class="clickable">
                    <img onclick="goToPage('/lessons')" src="https://cdn.shopify.com/s/files/1/0013/5865/9642/files/001_grande.jpeg?v=1567748868" alt="Pitch Diagrams" class="home-img">
                </span>
            </div>
            <div class="col-5" id="quiz-diagram">
                <br>
                <h4>Quiz your Knowledge:</h4>
                <span class="clickable">
                    <img onclick="goToPage('/quiz')" src="https://us.123rf.com/450wm/iconicpanda/iconicpanda2302/iconicpanda230210087/217811972-exam-test-vector-exam-related-filled-design-editable-stroke-icon.jpg?ver=6" alt="Quiz Clipart" class="home-img"> 
                </span>
            </div>
            <div class="col-1"></div>
        </div>
    </div> 
{% endblock %}