<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

<!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"> 

  <!-- Main.css-->
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <script type="text/javascript" src="{{ url_for('static', filename = 'layout.js') }}"></script>

  </head>
  <body>
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="dropdown">
    
    <div id="myDropdown" class="dropdown-content">
      

      <!-- Add more links as needed -->
    </div>
  </div>
  
  <div class="container-fluid">
    <label for="nav-menu">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Compass_rose_simple.svg" class="compass-icon" alt="Compass icon for dropdown" width="50">
    </label>
    <select name="nav-menu" id="endpoints" onchange="navigateToEndpoint()"> 
      <option value="">Select a pitch...</option> 
      <option value="#endpoint1">Four Seam</option> 
      <option value="#endpoint2">Two Seam</option>
      <option value="#endpoint3">Slider</option>
      <option value="#endpoint4">Curveball</option>
      <option value="#endpoint5">Changeup</option>
    </select>

    <a class="navbar-brand" href="/">Home</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/quiz1">Quiz Part 1</a>
        <a class="nav-link" href="/quiz2">Quiz Part 2</a>
        <a class="nav-link" href="/quiz3">Quiz Part 3</a>
      </div>
    </div>
  </div>
</nav>

    <div class="container">   
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>