<!-- lessons.html -->
{% extends "layout.html" %}

{% block title %}Lessons{% endblock %}

{% block content %}
<html>
<title>Pitches</title>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lessons.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/lessons.js') }}"></script>
</head>
<body>
    <div class="container-fluid">
        <br>
        <h1 class="text-center"> Click a Pitch to Learn More About It!</h1>
        <div class="row">
            <div class="col-1"></div>
            <div class= "col-4 white-bk spacer2">
                (Fastballs)
            </div>
            <div class= "col-6 white-bk spacer3">
                (Breaking Balls)
            </div>
            <div class="col-1"></div>
        </div>
        <!-- Labels row -->
        <div class="row">
            <div class="col-1"></div>
            {% for pitch in pitches %}
            <div class="col-2 black-border spacer {{ pitch.color }}">{{ pitch.name }} <br><br> </div>
            {% endfor %}
            <div class="col-1 "></div>
        </div>

        <!-- Images row -->
        <div class="row">
            <div class="col-1"></div>
            {% for pitch in pitches %}
            <div class="col-2 black-border spacer clickable">
                <img onclick="goToPage('{{ url_for('pitch', pitch_name=pitch.path) }}')" src="{{ url_for('static', filename='images/' ~ pitch.name ~ '-right.png') }}" alt="{{ pitch.name }} Path" width="270" height="430">
            </div>
            {% endfor %}
            <div class="col-1"></div>
        </div>
    </div>
</body>
</html>
{% endblock %}