{% extends 'layout.html' %}

{% block title %}Quiz!!!{% endblock %}

{% block content %}
    <h1>Quiz!!!</h1>
    <p>Instructions:</p>
    <div>
        This quiz consists of two parts:
        <ul>
            <li>Part 1: Match pitch trajectories to their pitch types</li>
            <li>Part 2: Select the correct pitch type given a video of a pitch</li>
        </ul>
    </div>
    <div>
        <a href="/part1" class="btn btn-primary">Part 1</a>
        <a href="/part2" class="btn btn-primary">Part 2</a>
    </div>
{% endblock %}
